.contralBody {
  width: 100%;
  min-height: 100vh;
  display: flex;
  // margin-top: 55px;

  .body_left {
    width: 180px;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;

    .el-menu {
      height: 100vh;
      text-align: center;

      .el-submenu {
        // transition: 0.5s ease 0;
        .el-menu-item{
          background-color: #fff;
        }
      }
    }
  }

  .body_right {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 180px;
    overflow-y: auto;
  }
}
