.contralBody {
  width: 100%;
  min-height: 100vh;
  display: flex;
  // margin-top: 55px;

  .body_left {
    width: 180px;
    // padding-top: 55px;
    // overflow-y: auto;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;

    .el-menu {
      text-align: center;
      max-height: 100vh;
      .el-submenu {
        .el-menu-item{
          background-color: #fff;
        }
      }
    }
  }

  .body_right {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 180px;
    overflow-y: auto;
  }
}
