#custom_body {
  width: 100%;
  height: 2000px;
  background-color: #f7faff;

  .custom_introduce {
    float: left;
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
    height: 400px;
    background-color: #fff;

    .intro_div {
      margin-left: 5%;
      margin-top: 30px;
      #intro_span1 {
        font-size: 2.5em;
        display: inline-block;
        padding-bottom: 20px;
        border-bottom: 5px solid #67c23a;
      }
      #intro_span2 {
        display: inline-block;
        font-size: 1.5em;
        margin-left: 10px;
      }
    }

    .test_con {
      display: flex;
      justify-content: space-evenly;
      $contentMarginTop: 40px;
      $testWidth: 200px;
      $testHeight: 200px;
      $testBorderRadius1: 45%;
      $testBorderRadius2: 47%;
      .content1 {
        margin-top: $contentMarginTop;
        display: flex;
        flex-direction: column;
        align-items: center;
        #test1 {
          width: $testWidth;
          height: $testHeight;
          background-image: linear-gradient(120deg, #fff 0%, #abc9f8 100%);
          border-radius: $testBorderRadius1;
          animation: torotate 12s linear infinite;
        }

        #test2 {
          width: $testWidth;
          height: $testHeight;
          margin-left: -3%;
          margin-top: -100%;
          background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
          border-radius: $testBorderRadius2;
          animation: torotate 8s linear infinite;
        }

        #con_span {
          margin-top: -60%;
          z-index: 1;
          span {
            color: #fff;
            font-size: 1.4em;
            display: inline-block;
          }
        }
      }

      .content2 {
        margin-top: $contentMarginTop;
        display: flex;
        flex-direction: column;
        align-items: center;
        #test3 {
          width: $testWidth;
          height: $testHeight;
          background-image: linear-gradient(120deg, #fff 0%, #d3f585 100%);
          border-radius: $testBorderRadius1;
          animation: torotate 15s linear infinite;
        }

        #test4 {
          width: $testWidth;
          height: $testHeight;
          margin-left: -3%;
          margin-top: -100%;
          background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
          border-radius: $testBorderRadius2;
          animation: torotate 12s linear infinite;
        }
        #con_span {
          margin-top: -60%;
          z-index: 1;
          span {
            color: #fff;
            font-size: 1.4em;
            display: inline-block;
          }
        }
      }

      .content3 {
        margin-top: $contentMarginTop;
        display: flex;
        flex-direction: column;
        align-items: center;
        #test5 {
          width: $testWidth;
          height: $testHeight;
          float: left;
          background-image: linear-gradient(120deg, #fff 0%, #84fab0 100%);
          border-radius: $testBorderRadius1;
          animation: torotate 12s linear infinite;
        }

        #test6 {
          width: $testWidth;
          height: $testHeight;
          margin-left: -3%;
          margin-top: -100%;
          background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
          border-radius: $testBorderRadius2;
          animation: torotate 10s linear infinite;
        }
        #con_span {
          margin-top: -60%;
          z-index: 1;
          span {
            color: #fff;
            font-size: 1.4em;
            display: inline-block;
          }
        }
      }

      @keyframes torotate {
        0% {
          transform: rotateZ(0deg);
        }
        50% {
          transform: rotateZ(180deg);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }
    }
  }

  .custom_fill1 {
    width: 100%;
    height: 50px;
  }
  .custom_fill2 {
    width: 95%;
    height: 420px;
    margin-left: 5%;
    background-color: #67c23a;
  }

  .custom_user {
    width: 100%;
    height: 400px;
    background-color: #f8faff;

    #user_con {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      #img_parcel {
        width: 25%;
      }
    }
  }

  .custom_main {
    width: 100%;
    height: 1000px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    #custom_btn {
      background-color: #fff;

      .el-button {
        border-radius: 30px;
        width: 150%;
        height: 50px;
      }
    }

    #custom_main_con {
      width: 80%;
      height: 900px;
      background-color: #f0f9eb;
      animation: toOpacity 2s ease both 1;
      border-radius: 10px;
      @keyframes toOpacity {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      #custom_main_con_son {
        width: 90%;
        height: 900px;
        h3 {
          margin-left: 10%;
        }
        .el-form-item {
          margin-left: 10%;
        }
      }
    }
  }
}
