$AllWidth: 100%;
.main_all {
  width: $AllWidth;
  height: 1009px;
  background-color: gray;
  margin-top: 55px;
  // user-select: none;

  .main_head {
    width: 100%;
    height: 500px;
    background-color: #f7faff;
    // background-color: pink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .head_intro {
      width: 35%;
      min-width: 400px;
      height: 350px;
      background-color: #f7faff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .intro_span {
        display: inline-block;
        width: 8em;
        font-weight: bold;
        font-size: 2.5em;
      }

      p {
        font-size: 0.9em;
        width: 27em;
        color: #6a7b8c;
      }
    }
    .head_vedio {
      width: 45%;
      height: 400px;
      background-color: #f7faff;
      // background-color: pink;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .imgAdd {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @keyframes an1 {
        0%,
        25%,
        50% {
          transform: rotateY(0deg);
        }

        75% {
          transform: rotateY(-90deg);
        }

        100% {
          transform: rotateY(-180deg);
        }
      }
      .an1all {
        display: flex;
        align-items: flex-end;

        .animation1 {
          width: 120px;
          height: 120px;
          margin: 0 0 0 128px;
          background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
          position: relative;

          .an1_img {
            width: 100px;
            margin: 10px 10px 0;

            // animation-name: an1;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }
        .animation2 {
          width: 100px;
          height: 100px;
          background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
        }
        .animation3 {
          width: 160px;
          height: 160px;
          background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

          svg {
            margin: 10px 15px 0;
          }
        }
      }

      @keyframes an5 {
        0% {
          transform: translate(20%, 45%);
        }

        100% {
          transform: translate(20%, 50%);
        }
      }
      .an2all {
        display: flex;
        position: relative;

        .animation4 {
          width: 130px;
          height: 130px;
          background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
        }

        .animation5 {
          width: 160px;
          height: 160px;
          background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

          .an5_img {
            width: 120px;
            // transform: translate(20%, 50%);

            animation-name: an5;
            animation-duration: 1s; //规定完成动画所花费的时间，以秒或毫秒计
            animation-timing-function: ease-in-out; //规定动画的速度曲线
            animation-delay: 0; //规定在动画开始之前的延迟
            animation-iteration-count: infinite; //规定动画应该播放的次数
            animation-direction: alternate; //规定是否应该轮流反向播放动画。
          }
        }

        .animation6 {
          width: 100px;
          height: 100px;
          background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
        }
      }
    }
  }

  .main_body1 {
    width: 100%;
    height: 700px;
    background-color: #67c23a;
    //   67C23A   F0F9EB
    .body_intro {
      width: 100%;
      span {
        display: inline-block;
        color: white;
        font-size: 2.6em;
        padding: 60px 0 60px 5%;
      }
    }
    .body_main {
      width: 95%;
      height: 500px;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-left: 5%;
      .body_main_fill {
        height: 180px;
        width: 10%;
        border: 1px solid gray;
        box-sizing: border-box;
        border-radius: 5px;
      }

      .body_main_fill2 {
        border: 1px solid gray;
        height: 140px;
        width: 80%;
        box-sizing: border-box;
        border-radius: 5px;
      }
      .body_main_fill3 {
        border: 1px solid gray;
        height: 140px;
        width: 10%;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .body_main_intro {
        width: 40%;
        box-sizing: border-box;
        height: 180px;
        border-radius: 5px;
        border: 0.8px solid gray;

        span {
          display: inline-block;
          font-size: 1.5em;
          padding: 5% 0 0 10%;
        }

        p {
          padding: 2% 0 0 10%;
          color: #b5bdc6;
        }

        a {
          color: #67c23a;
          text-decoration: none;
          padding: 2% 0 0 10%;
        }
      }

      .body_main_intro:hover {
        z-index: 1;
        box-shadow: 1px 5px 25px gray;
        animation: toShadow 1s ease both 1;
      }
      //设置动画
      @keyframes toShadow {
        0% {
          box-shadow: 0 0 0;
        }
        100% {
          box-shadow: 1px 5px 20px gray;
        }
      }
    }
  }

  .main_body2 {
    height: 750px;
    width: 100%;
    background-color: #f0f5fa;

    #p1 {
      font-size: 2.6em;
      margin: 0;
      padding: 100px 0 0 5%;
    }

    .sp2 {
      display: inline-block;
      font-size: 1.5em;
      // background-color: pink;
      margin: 20px 0 30px 5%;
      transition: all 0.7s;

      &-border {
        border-bottom: 4px solid #67c23a;
        padding-bottom: 20px;
      }

      &:hover {
        border-bottom: 4px solid #67c23a;
        padding-bottom: 20px;
      }
    }

    .body2_con_son1 {
      margin: 5% 0 0 5%;
      height: 400px;
      width: 95%;
      background-color: #67c23a;
    }

    .body2_con_son2 {
      float: left;
      height: 400px;
      width: 95%;
      background-color: #fff;

      p {
        font-size: 1.2em;
        width: 90%;
        margin: 0;
        padding: 40px 5% 0 5%;
        text-indent: 2em;
        line-height: 40px;
      }
    }
  }

  .main_insert {
    width: 100%;
    height: 400px;
    background-color: #fafbfd;

    #insert_sp1 {
      display: inline-block;
      font-size: 2.6em;
      margin: 100px 10px 30px 10%;
      padding-bottom: 25px;
      border-bottom: 4px solid #67c23a;
    }

    #insert_sp2 {
      display: inline-block;
      font-size: 1.8em;
    }

    p {
      font-size: 1em;
      margin: 10px 0 0 10%;
      width: 45%;
      min-width: 400px;
      color: #909ba5;
    }
  }

  .main_body3 {
    width: 100%;
    height: 450px;
    // background-color: #fafbfd;
    background-color: #67c23a;

    #body3_span {
      display: inline-block;
      font-size: 2.6em;
      color: #fff;
      margin: 70px 0 0 5%;
      padding-bottom: 10px;
      border-bottom: 4px solid #67c23a;
    }

    .body3_conall {
      display: flex;
      margin-top: 80px;
      justify-content: space-evenly;
      .body3_con1 {
        height: 300px;
        width: 30%;
        // background-color: #f0f9eb;
        background-color: #fff;

        #imgCon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px 0 10px 0;
          img {
            width: 80px;
            height: 80px;
          }
        }

        #fontCon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          #p1 {
            font-size: 1.5em;
          }

          #p2 {
            font-size: 1em;
            color: #b5bdc6;
          }
        }
      }
    }
  }

  .main_body4 {
    height: 150px;
    width: 100%;
    background-color: #f0f5fa;
  }

  .main_body5 {
    height: 350px;
    width: 100%;
    display: flex;
    .body5_con {
      padding: 40px 0 0 20%;
      #body5_p1 {
        font-size: 2em;
      }
      #body5_sp1 {
        display: inline-block;
        font-size: 2em;
        border-bottom: 5px solid #67c23a;
        margin-bottom: 20px;
      }
      #body5_p2 {
        font-size: 2em;
        display: flex;
        align-items: center;
      }
    }
  }

  .main_food {
    width: 100%;
    height: 400px;
    background-color: black;
  }
}
