#notice {
  // overflow: hidden;
  .notice_main {
    width: 100%;
    height: 850px;
    margin-top: 55px;
    //   background-color: pink;
    .notice_tabber {
      // width: 100%;
      height: 60px;
      background-color: #fff;
      margin-left: 2.5%;
    }

    .notice_content {
      width: 100%;
      height: 800px;
      background-color: #f8faff;
      display: flex;

      .scroll {
        width: 75%;
        height: 750px;
        overflow: hidden;
        margin: 10px 2.5% 0 2.5%;
        .left {
          width: calc(100% + 30px);
          overflow-y: auto;
          height: 750px;
          box-shadow: 0 3px 8px gainsboro;
          background-color: #fff;

          //没消息时

          //有个人消息
          .content {
            width: 95%;
            height: 20%;
            box-sizing: border-box;
            display: inline-block;
            border-bottom: 1px solid gainsboro;
            padding: 0 2.5% 0 2.5%;

            #p1 {
              font-weight: bold;
            }
            #p2 {
              font-size: 0.9em;
            }

            .el-tag {
              height: 30px;
              margin-bottom: 10px;
            }
          }
        }
      }

      .right {
        width: 18%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin: 10px 0 0 0;

        h4,
        p {
          margin: 0;
        }

        p {
          padding: 15px 0 30px;
        }
        img {
          width: 100px;
        }
      }
    }
  }
}
