#paySuccess {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .body {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .imgCon {
      p {
        font-size: 0.9em;
      }
      img {
        width: 170px;
      }
      .el-button{
          margin-top: 15px;
      }
    }
  }
}
