#signin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .signin_body {
    min-width: 100%;
    flex: 1;
    background-color: #f7faff;
    display: flex;
    justify-content: center;

    .signin_body_main {
      width: 30%;
      min-width: 350px;
      margin-top: 150px;
      min-height: 260px;
      height: 260px;
      border-radius: 10px;
      transition: .4s;
      background-color: #fff;

      &:hover {
        box-shadow: 0 4px 5px gainsboro;
        transform: translateY(-4px);
      }

      .el-form {
        margin-top: 50px;
        .el-form-item {
          margin-left: 10%;

          .el-button {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
