#son1ManageNew {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  
  .body {
    flex: 1;
    height: auto;

   .el-card{
     width: 95%;
     margin: 20px 2.5% 60px;
   }
  }
}
