.searchDiv {
  width: 100%;
  height: 40px;
  background-color: #f8faff;
  // display: fixed;
  .el-menu {
    height: 40px;

    .el-menu-item {
      width: 50%;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
}
