.body {
  height: 300px;
  width: 100%;
  background-color: #f8faff;
  // background-color: pink;

  .searchDiv {
    width: 100%;
    height: 40px;
    background-color: #f8faff;

    .el-menu-item {
      width: 50%;
      text-align: center;
    }
  }

  .viewDiv {
    width: 100%;
    height: 260px;
    overflow: auto;
    // background-color: red;
      // z-index: 2;
    .click {
      border: 1px solid black;
    }
    .custom {
      width: 79%;
      height: 150px;
      margin: 35px 0 15px 10%;
      border-radius: 8px;
      background-color: #fff;
      display: flex;
      font-size: 0.9em;
      .customImg {
        width: 15%;
        height: 90%;
        margin: 0 5% 0 10%;
        background-color: pink;
        // box-shadow: 0 3px 5px 3px gainsboro;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .customCon1 {
        width: 30%;
        height: 100%;
        // background-color: pink;
      }
      .customCon2 {
        width: 30%;
        height: 100%;
        // background-color: pink;
      }
    }
  }
}

.next {
  width: 100%;
  height: 350px;
  // background-color: pink;
  .payForm {
    width: 60%;
    height: 300px;
    // background-color: gainsboro;
    margin: 40px 20% 0 20%;

    .el-form {
      widows: 90%;
      padding: 20px 5% 0 5%;
    }
  }
}
