#son2_1Driver{
    min-height: 90vh;
    display: flex;

    .body{
        flex: 1;

        .map{
          height: 70vh;
        }

        .search{
            height: 20vh;
            // background-color: pink;
            display: flex;
            align-items: center;
            padding-left: 5%;
        }
    }
}