$allHeight: 460px;
$pLeft: 30px;
.body {
  width: 100%;
  // height: $allHeight;
  height: 100%;
  // overflow: hidden;
  //   background-color: pink;
  display: flex;
  margin-top: 115px;

  .DivChange {
    display: none;
  }

  .left {
    width: 18%;
    // height: $allHeight;
    background-color: #f8faff;

    .left_head {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid gainsboro;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 0.8em;
      }
    }

    .left_head:hover {
      color: #108ee9;
    }

    .left_body {
      width: 100%;

      .store {
        display: flex;
        margin-top: 30px;
        justify-content: space-evenly;
        .imgDiv {
          width: 50px;
          height: 50px;
          margin: 0 0 0 -10px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }

        .storeName {
          width: 30%;
          height: 50px;
          margin: 0px 0 0 -30px;
          //过长……
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 0.8em;
          p {
            line-height: 8px;
          }
        }
      }
    }

    .info {
      display: flex;
      height: 17px;
      width: 100%;
      margin-top: 10px;
      justify-content: space-evenly;
      // background-color: pink;
      .infoId {
        width: 20%;
        border: 1px solid gray;
        text-align: center;
        border-radius: 10px;
        color: gray;
        font-size: 0.8em;
        margin-left: 14%;
      }

      .infoNum {
        color: gray;
        font-size: 0.7em;
        line-height: 17px;
        // margin-left: -30px;
      }
    }
  }
  .right {
    width: 82%;
    // height: 800px;
    // background-color: gray;
    overflow: auto;
    .right_head {
      width: 100%;
      height: 120px;
      // background-color: pink;
      display: flex;

      .head_p {
        width: 20%;
        height: 60px;
        span {
          display: inline-block;
          margin: 40px 0 0 $pLeft;
          font-size: 1.2em;
        }
      }

      .head_step {
        width: 80%;
        // height: 100px;
        // background-color: gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .el-steps {
          margin-top: 25px;

          .el-step {
            width: 200px;
          }
        }
      }
    }

    .right_del {
      width: 100%;
      height: 80px;
      // background-color: pink;
      display: flex;
      justify-content: center;
      align-items: center;
      .del {
        display: flex;
        align-items: center;
        width: 95%;
        height: 65%;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid gainsboro;
        background-color: #fafafa;

        p {
          margin: 0 10px 0 30px;
          font-size: 0.8em;
        }

        #btnDiv {
          display: flex;
          margin: 0 0 0 35%;

          #priDiv {
            margin-right: 10%;
          }

          #detailDiv{
            margin: 0 20px 0 0;
          }
          .priStatus {
            display: none;
          }
          .displayChange {
            display: none;
          }
        }
      }
    }

    .basic {
      width: 100%;
      // height: 470px;
      // background-color: pink;

      .title {
        width: 100%;
        // background-color: gray;
        #p1 {
          display: inline-block;
          padding: 20px 0 10px $pLeft;
        }

        span {
          font-size: 0.8em;
          display: inline-block;
          margin-left: 85%;
          color: #66b1ff;
        }

        .DivChange {
          display: none;
        }
      }

      .infoP {
        // display: none;
        // background-color: yellowgreen;
        p {
          font-size: 0.8em;
          color: gray;
          padding: 0px 0 15px $pLeft;

          span {
            color: black;
          }
        }

        #imgSpan {
          font-size: 0.8em;
          color: gray;
          padding: 0px 0 15px $pLeft;
          display: flex;
          align-items: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }
        }
      }

      .editor {
        width: 95%;
        margin: 0 2% 0 3%;
        // background-color: gray;

        .el-form {
          .el-input {
            width: 98%;
          }
        }
      }
    }

    .custom {
      width: 100%;
      height: 560px;
      // background-color: gray;

      .customInfo {
        padding: 20px 0 10px 0;
        p {
          font-size: 0.8em;
          color: gray;
          padding: 0px 0 15px $pLeft;

          span {
            color: black;
          }
        }
      }

      #p1 {
        display: inline-block;
        padding: 20px 0 10px $pLeft;
      }

      .next {
        width: 90%;
        padding: 0 0 0 $pLeft;
      }

      .priceP {
        color: gray;
        font-size: 0.9em;
        // background-color: gray;
        height: 35px;
        margin: 20px $pLeft 30px;

        span:nth-child(1) {
          color: #3498db;
          font-size: 1em;
        }

        span:nth-child(2) {
          color: #3498db;
          font-size: 1.6em;
        }
      }

      .tips {
        height: 180px;
        // border: 1px solid #108ee9;
        padding-left: $pLeft;

        p:nth-child(1) {
          font-size: 0.9em;
          color: gray;
        }

        p:nth-child(1)::after {
          content: "*";
          color: red;
        }

        ul {
          list-style: none;
          font-size: 0.8em;
          color: gray;

          li {
            margin: 10px 0;

            span {
              color: red;
            }
          }
        }
      }
    }

    .foot {
      width: 100%;
      height: 50px;
      background-color: #f0f3f7;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        display: inline;
        color: gray;
        font-size: 0.7em;
      }
    }
  }
}
