#son3Feedback {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .body {
    width: 100%;
    // position: absolute;
    // top: 115px;
    // bottom: 0px;
    // left: 0px;
    flex: 1;

    // background-color: pink;

    .feedbackForm {
      width: 80%;
      // height: 20vh;
      margin: 115px 10% 0 10%;

      .el-form {
        width: 100%;
        padding: 50px 0 0 0;

        .el-button {
          margin: 20px 10px 0 0;
        }
      }
    }

    .instructions {
      width: 80%;
      margin: 50px 10% 0 10%;
      // background-color: goldenrod;

      h4 {
        color: gray;
      }
      p {
        font-size: 0.8em;
        color: gray;
      }
    }
  }

}
