.mapDiv {
  width: 100%;
  height: 700px;
  margin-left: 3%;
  background-color: green;
  .bm-view {
    width: 100%;
    height: 400px;
  }

  .pointContent {
    width: 100%;
    margin-top: 20px;
    height: 280px;
    background-color: pink;
  }
}
