#serviceDet {
  min-height: 100vh;
  background-color: #f3f5f6;
  margin-top: 55px;

  display: flex;
  justify-content: center;
}

#serviceDet .body {
  width: 66%;
  height: 980px;
  margin: 30px 0 50px;
  border-radius: 3px;
  background-color: #fff;
}

.body .title {
  text-align: center;
  margin: 10px 0 0;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.content_S {
  width: 85%;
  margin: 0 auto;
  color: gray;
}

.content_S h4 {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding-bottom: 5px;
  border-bottom: 3px solid #67c23a;
}

.content_S p {
  font-size: 0.9em;
  // text-indent: 2em;
}

.content_S p span {
  color: red;
}

.content_S .el-table {
  margin: 0 auto;
}

.content_S .con4 {
  .el-button {
    margin: 50px 0 0;
  }
}
