#son4Custom {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .body {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;


    .content {
      width: 90%;
      height: 150px;
      min-height: 150px;
      margin: 20px 5%;
      border-radius: 5px;
      background-color: #f8faff;
      display: flex;
      .imgInfo{
        img{
          height: 100px;
          width: 150px;
        }
      }

      .storeInfo{
        p{
          font-size: .9em;
          color: gray;
        }
      }
    
    }
  }
}
