.body {
  width: 100%;
  min-height: 600px;
  // min-width: 1000px;
  height: auto;
  // background-color: #f3f5f6;

  .el-card {
    width: 95%;
    margin: 15px 2.5%;
  }

  .operate {
    margin: 10px 2.5% 100px;
    float: right;
  }
}
