#son8Echarts {
  .firstItem {
    p {
      font-size: 1.1em;
      margin: 35px 2.5%;
      width: 142px;
      padding-bottom: 10px;
      border-bottom: 4px solid #67c23a;
    }
    .el-card {
      width: 95%;
      margin: 10px 2.5%;
      #mycharts {
        //   width: 90%;
        height: 600px;
      }
    }
  }

  .secondItem {
    height: 600px;

    p {
      font-size: 1.1em;
      margin: 80px 2.5% 10px;
      width: 124px;
      padding-bottom: 10px;
      border-bottom: 4px solid #67c23a;
    }
  }
}
